body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(187, 53%, 36%);
    color: hsl(27, 85%, 10%);
}

.label {
    border-radius: 4px 4px 0px 0px;
    border: 2px solid hsl(228, 36%, 27%);
    border-bottom: 0px;
    margin-top: 50px;
    display: flex;
    height: 40px;
    width: 430px;
    align-items: center;
    justify-content: center;
    background-color: hsl(144, 39%, 65%);
    font-size: 32px;
}

.display {
    border-radius: 0px 0px 4px 4px;
    border: 2px solid hsl(228, 36%, 27%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 70px;
    width: 430px;
    background-color: hsl(144, 39%, 89%);
    font-size: 48px;
}

.all-buttons {
    display: flex;
}

.num-buttons {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    justify-content: center;
    flex-wrap: wrap;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    justify-content: center;
}

.num-btns, .point, .clear {
    background-color:hsl(180,94%,85%);
    border-radius: 4px;
    border: 2px solid hsl(228, 36%, 27%);
    height: 100px;
    width: 100px;
    margin: 5px;
    font-size: 36px;
}

.num-btns:active, .point:active {
    transform: scale(0.95);
}

.clear:hover {
    background-color: rgb(245, 182, 167);
}

.clear:active {
    transform: scale(0.95);
}

.num-btns:hover, .point:hover {
    background-color: hsl(169,94%,95%);
}

.operators {
    display: flex;
    height: 450px;
    width: 110px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}

.ops, .backspace, .equal {
    background-color:hsl(150,94%,85%);
    border-radius: 4px;
    border: 2px solid hsl(228, 36%, 27%);
}

.ops:hover, .backspace:hover, .equal:hover {
    background-color: hsl(169,94%,95%);
}

.ops:active, .backspace:active, .equal:active {
    transform: scale(0.95);
}

.backspace {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 40px;
    width: 90px;
    margin: 5px;
    font-size: 24px;
}

.multiply, .divide, .subtract {
    height: 55px;
    width: 90px;
    margin: 5px;
    font-size: 32px;
}

.add {
    height: 100px;
    width: 90px;
    margin: 5px;
    font-size: 36px;
}

.equal {
    height: 75px;
    width: 90px;
    margin: 5px;
    font-size: 36px;
}